/* ==UserStyle==
@name        WOL: Hide Elements
@version     2
@encoding    utf-8
@match       *://wol.jw.org/*
@author      godly-devotion
@compatible  safari
@downloadURL https://github.com/godly-devotion/userscripts/raw/main/src/WOL%3A%20Hide%20Elements.css
@updateURL   https://github.com/godly-devotion/userscripts/raw/main/src/WOL%3A%20Hide%20Elements.css
==/UserStyle== */

/* Hide reference symbols */

.fn,
.jwac .fn,
.v>.b {
  display: none !important;
}

/* Hide secondary nav */

#secondaryNavContent {
  display: none !important;
}

.articlePositioner {
  margin: 0 !important;
}

.article {
  max-width: unset !important;
}

/* Hide audio player */

#playerwrapper {
  display: none;
}
