/* ==UserStyle==
@name        WOL: Hide Elements
@version     6
@encoding    utf-8
@match       *://wol.jw.org/*
@author      godly-devotion
@compatible  safari
@downloadURL https://github.com/godly-devotion/userscripts/raw/main/src/WOL%3A%20Hide%20Elements.css
@updateURL   https://github.com/godly-devotion/userscripts/raw/main/src/WOL%3A%20Hide%20Elements.css
==/UserStyle== */

/* Hide audio player */

#playerwrapper {
  display: none !important;
}

/* Hide reference symbols */

.fn,
.jwac .fn,
.v>.b {
  display: none !important;
}

/* Hide welcome container items */

.welcomeContainer .siteGreeting {
  display: none;
}

.welcomeContainer .siteAbout {
  display: none;
}

.welcomeContainer .siteParentLink {
  display: none;
}

/* Hide secondary nav */

#secondaryNavContent {
  display: none !important;
}

.articlePositioner {
  margin: auto !important;
}

.article {
  margin: auto !important;
}

/* Hide toolbar items */

#menuToolsShare {
  display: none;
}

#contentFooterLegal {
  display: none;
}
